body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('sea-and-sunset-nature-cpoz6h0b5i0cwdfg.jpg'); 
    background-size: cover;
    background-position: center;
    color:#fff;
header {
    text-align: center;
    padding: 50px 0;
}

header h1 {
    font-size: 2.5em;
    margin: 10px 0;
    color: #000;
}

#profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid black;
    margin-bottom: 20px;
}

header p {
    color: #000; 
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section {
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

p {
    line-height: 1.6;
}
section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

section ul li a img {
    width: 60px; /* Adjust the size of the icons as needed */
    height: 30px;
    margin-right: 5px;
    vertical-align: middle;
}

section ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
}
.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    margin-bottom: 10px;
}

.social-icons li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-size: 34px; 
    margin-right: 10px;
	}
	section p a {
    color: #fff; 
    text-decoration: underline; 
}

section p a:hover {
    color: #ccc;
}